:root {
  --container-max-width: 650px;
  --font: "Helvetica";
  --color-foreground: #000;
  --color-background: #fff;
  --color-hover-bg: #aeadaf;
  --color-correct-bg: #6da280;
  --color-incorrect-bg: #d58888;
  --box-padding: 5px;
  --box-margin: 5px 0;
}

html {
  font-family: var(--font);
}

.container {
  width: 100%;
  max-width: var(--container-max-width);
  margin: auto;
  padding: 10px 0;
}
